<div class="navigation-body"
    [ngStyle]="{
        'background-color': getBackgroundColorByShownContent(),
        'box-shadow': '0 0 2vw '+getBackgroundColorByShownContent()
    }">
    <app-navigation-separator [title]="'Główne'"></app-navigation-separator>
    <app-navigation-button (click)="changeShownContent('CV')" text="CV"></app-navigation-button>
    <app-navigation-separator [title]="'Projekty'"></app-navigation-separator>
    <app-navigation-button (click)="changeShownContent('illchess')" text="illchess"></app-navigation-button>
    <app-navigation-button (click)="changeShownContent('inbox-outbox')" text="inbox-outbox"></app-navigation-button>
    <app-navigation-button (click)="changeShownContent('leon')" text="leon"></app-navigation-button>
</div>