.navigation-body {
    position: absolute;
    right: 0;
    top: 2.5dvh;
    height: 85dvh;
    width: 7.5dvw;
    transition: width 250ms ease-out, height 250ms ease-out, top 250ms ease-out, background-color 500ms ease-out;
    -webkit-transition: width 250ms ease-out, height 250ms ease-out, top 250ms ease-out, background-color 500ms ease-out;
    -ms-transition: width 250ms ease-out, height 250ms ease-out, top 250ms ease-out, background-color 500ms ease-out;
    border-radius: 5dvh 0 0 5dvh;
    padding-top: 5dvh;
    padding-bottom: 5dvh;
    box-shadow: 0 0 2dvw gray;
}

.navigation-body-active {
    width: 12.5dvw;
    height: 88dvh;
    top: 1dvh;
}
