<div class="navigation-body" [style.background]="getBackgroundColorByShownContent()">
    <app-navigation-separator [title]="'Główne'"></app-navigation-separator>
    <app-navigation-button (click)="changeShownContent('CV')" text="CV"></app-navigation-button>
    <app-navigation-separator [title]="'Projekty'"></app-navigation-separator>
    <app-navigation-button (click)="changeShownContent('illchess')" text="illchess"></app-navigation-button>
    <app-navigation-button (click)="changeShownContent('leon')" text="leon"></app-navigation-button>
    <app-navigation-button (click)="changeShownContent('inbox-outbox')" text="inbox-outbox"></app-navigation-button>
</div>