<div class="content-wrapper">
    @if (loaded) {    
        <div class="content">
            <div class="image-wrapper">
                <div class="image">
                    <img src="/photos/photo.jpg">
                </div>
            </div>
            <div class="vertical-line"></div>
            <div class="info">
                <div class="name">
                    <b>Bartłomiej Kucharczyk</b>
                </div>
                <div style="width: 100%;">Programista Backend</div>
                <!-- TODO innaczej -->
                <!-- <div class="links">
                    <div class="website-image">
                        <img src="/logos/websites/github.svg">
                    </div>
                    <div class="website-image">
                        <img src="/logos/websites/linkedin.svg">
                    </div>
                </div> -->
                
            </div>
        </div>
    }
</div>