@use '../../../../styles';

.whole-timeline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 0.5em 0;
}

.year-section {
    height: 0;
    border-top: 1px solid styles.$color;
}

.periods {
    position: relative; 
    width: calc(100% - 2em);
    margin-left: 1em; 
    margin-right: 1em;
    height: 2em;
}

.period-work {
    position: absolute;
    bottom: 0;
}

.period-education {
    position: absolute;
    top: 0;
}