@if(years && years.length!=0) {
    <div class="work-periods">
        @for(period of periods; track $index) {
            <div class="period" [style.left]="getLeftShiftByTimelinePeriod(period)" [style.width]="getWidthByTimelinePeriod(period)">
                <app-timeline-work-period [wholeWidth]="getWidthByTimelinePeriod(period)"></app-timeline-work-period>
            </div>
        }
    </div>
    <div class="whole-timeline-section">
        @for (year of years; track $index; let last = $last) {
            <div style="width: 32px; font-size: 0.75em; text-align: center;">{{year}}</div>
            @if (!$last) {
                <div class="year-section" [style.width]="getYearWidth()"></div>
            }
        }
    </div>
}