@if(years && years.length!=0) {
    <div class="periods">
        @for(period of workPeriods; track $index) {
            <div class="period-work" [style.left]="getLeftShiftByTimelinePeriod(period)" [style.width]="getWidthByTimelinePeriod(period)">
                <app-timeline-work-period [wholeWidth]="getWidthByTimelinePeriod(period)"></app-timeline-work-period>
            </div>
        }
    </div>
    <div class="whole-timeline-section">
        @for (year of years; track $index; let odd = $odd) {
            <div>
                <div class="year-info" [style.width]="getYearWidth()" [ngClass]="odd ? 'year-info-odd' : 'year-info-even'">{{year}}</div>
                <div class="year-section-top" [style.width]="getYearWidth()"></div>
                <div class="year-section-bottom" [style.width]="getYearWidth()"></div>
            </div>
        }
    </div>
    <div class="periods">
        @for(period of educationPeriods; track $index) {
            <div class="period-education" [style.left]="getLeftShiftByTimelinePeriod(period)" [style.width]="getWidthByTimelinePeriod(period)">
                <app-timeline-education-period [wholeWidth]="getWidthByTimelinePeriod(period)"></app-timeline-education-period>
            </div>
        }
    </div>
}