@use '../../../../styles';
@use '../../project/technology-chip/technology-chip.component.scss' as technology-chip-styles;
@use '../main-info-section/main-info-section.component.scss' as main-info-section-styles;

$chip-total-width: calc(technology-chip-styles.$chip-width + technology-chip-styles.$chip-padding-and-margin);
$highlighted-technology-width: 150px;


.technologies {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.title-info {
    font-size: main-info-section-styles.$label-font-size;
    margin: 1vh 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    margin: 0.5em;
    transition: background-color 125ms linear, box-shadow 125ms linear;
    -webkit-transition: background-color 125ms linear, box-shadow 125ms linear;
    -ms-transition: background-color 125ms linear, box-shadow 125ms linear;
}

.image-wrapper:hover {
    background-color: rgba(255,255,255, 0.45);
    box-shadow: 0 0 0.25em white;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    user-select: none;
}

.technology-info {
    position: relative;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 125ms linear, left 125ms linear;
    border-right: 1px solid styles.$color;
    border-left: 1px solid styles.$color;
    text-wrap: nowrap;
    overflow: hidden;
    margin: 1vh 0;
    left: 0;
    width: 0;
}

.technology-info-active {
    width: $highlighted-technology-width;
}

// TODO forgive me i have sinned again
.technology-info-1 {
    left: calc(1 * $chip-total-width);
}

.technology-info-2 {
    left: calc(2 * $chip-total-width);
}

.technology-info-3 {
    left: calc(3 * $chip-total-width);
}

.technology-info-4 {
    left: calc(4 * $chip-total-width);
}

.technology-info-5 {
    left: calc(5 * $chip-total-width);
}

.technology-info-6 {
    left: calc(6 * $chip-total-width);
}

.technology-info-7 {
    left: calc(7 * $chip-total-width);
}

.technology-info-8 {
    left: calc(8 * $chip-total-width);
}

.technology-info-9 {
    left: calc(9 * $chip-total-width);
}