<div (mouseleave)="changeHighlightedTechnology(undefined, 0)">
    <div class="title-info">
        {{titleWithInfo}}
    </div>
    <div class="technologies">
        @for (technology of technologies; track $index) {
            <app-technology-chip [name]="technology" (hovered)="changeHighlightedTechnology($event, $index)"></app-technology-chip>
        }
    </div>
    <!-- <div class="technology-info" > -->
    <div 
        class="technology-info" 
        [class.technology-info-active]="!projectStore.highlightedTechnologyChanged() && projectStore.highlightedTechnology()" 
        [ngClass]="projectStore.highlightedTechnology() ? 'technology-info-'+highlightedTechnologyPosition : ''">
        <div>
            {{projectStore.highlightedTechnology()}}
        </div>
        <div>
            <a class="image-wrapper" target="_blank" [href]="TechnologiesDefinitions.getLinkByTechnology(projectStore.highlightedTechnology())">
                <img src="/utils/external-link.svg">
            </a>
        </div>
    </div>
</div>