@use '../../../../styles';
@use '../project-layout/project-layout.component' as project-layout;

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.triangle {
    transition: left 100ms linear, border 100ms linear;
    -webkit-transition: left 100ms linear, border 100ms linear;
    -ms-transition: left 100ms linear, border 100ms linear;
    -moz-transition : left 100ms linear, border 100ms linear;
    -o-transition : left 100ms linear, border 100ms linear;
}

.triangle-right {
    position: absolute;
    top: 1em;
    left:project-layout.$project-layout-width;
    border-left: 1em solid styles.$background-color;
    border-right: 1em solid transparent;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.triangle-right:hover {
    border-left: 1em solid green;
}

.triangle-right-shown {
    left: calc(-1.1em + project-layout.$project-layout-width);
}

.triangle-left {
    position: absolute;
    top: 1em;
    left: -2em;
    border-left: 1em solid transparent;
    border-right: 1em solid styles.$background-color;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.triangle-left:hover {
    border-right: 1em solid green;
}

.triangle-left-shown {
    left: -0.9em;
}

.technology-chips-wrapper {
    position: relative
}

.technology-chips {
    position: relative;
    display: flex;
    justify-self: start;
    justify-content: left;
    align-items: center;
    width: project-layout.$project-layout-width;
    height: 4em;
    left: 0;
    transition: left 500ms linear;
    -webkit-transition: left 500ms linear;
    -ms-transition: left 500ms linear;
}

.technology-chips:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

// forgive me i have sinned 
.technology-chips-1 {
    left: calc(-1 *(project-layout.$project-layout-width / 6))
}

.technology-chips-2 {
    left: calc(-2 *(project-layout.$project-layout-width / 6))
}

.technology-chips-3 {
    left: calc(-3 *(project-layout.$project-layout-width / 6))
}

.technology-chips-4 {
    left: calc(-4 *(project-layout.$project-layout-width / 6))
}

.technology-chips-5 {
    left: calc(-5 *(project-layout.$project-layout-width / 6))
}

.technology-chips-6 {
    left: calc(-6 *(project-layout.$project-layout-width / 6))
}
