.technology-name-wrapper {
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.technology-name {
    transition: height 125ms linear;
    -webkit-transition: height 125ms linear;
    -ms-transition: height 125ms linear;
    height: 2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-name-hidden {
    height: 0;
}

.vertical-line {
    height: 0;
    border-top: 0.1px solid white;
    width: 85%;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.25em;
    margin: 0.5em;
    transition: background-color 125ms linear, box-shadow 125ms linear;
    -webkit-transition: background-color 125ms linear, box-shadow 125ms linear;
    -ms-transition: background-color 125ms linear, box-shadow 125ms linear;
}

.image-wrapper:hover {
    background-color: rgba(255,255,255, 0.45);
    box-shadow: 0 0 0.5em white;
}

img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    user-select: none;
}