<div class="technology-name-wrapper">
    <div class="vertical-line"></div>
    <div class="technology-name" [ngClass]="!technology() || isTechnologyChanged() ? 'technology-name-hidden': ''">
        <div>
            {{technology()}}
        </div>
        <div>
            <a class="image-wrapper" target="_blank" [href]="TechnologiesDefinitions.getLinkByTechnology(technology())">
                <img src="/utils/external-link.svg">
            </a>
        </div>
    </div>
    <div class="vertical-line"></div>
</div>