<!-- TODO gdzieś tutaj karuzela ze screenshotami -->
TODO gdzieś tutaj karuzela ze screenshotami

<p style="text-indent: 15px;">
    Aplikacja ankietowa o zmiennej prezentacji pytań. Projekt tworzony w ramach pracy inżynierskiej. 
    Posiada strukturę monolityczną.
    Aplikacja składa się z frontendu (<b>Angular 14</b>), backendu (<b>Spring Boot 2.5.13</b> + <b>Java 11</b>) oraz bazy danych (<b>PostgreSQL</b>).
</p>

<p style="text-indent: 15px;">
    Głównym zamysłem aplikacji (poza wypełnianiem i tworzeniem ankiet) była możliwość przeanalizownaia wpływu sposobu wyświetlania pytań ankietowych na wypełnianie ankiety przez użytkownika. 
    Aplikacja w swojej głównej funkcjonalności generuje 4 losowe ankiety spośród pytań dodanych przez użytkowników: 
    <li>dobry UX, estetyczny UI</li>
    <li>zły UX, estetyczny UI</li>
    <li>dobry UX, nieestetyczny UI</li>
    <li>zły UX, nieestetyczny UI</li>
    Podczas wypełniania ankiety przez użytkownika śledzony jest czas potrzebny na odpowiedź na pytanie ankietowe oraz wypełnienie całej ankiety względem sposobu prezentacji. 
    Dane te są dostępne do pobrania i analizy. Wyczerpujący opis funkcjonalności aplikacji dostępny jest w samej pracy inżynierskiej dostępnej w linkach.
</p>

<p style="text-indent: 15px;">
    Aplikacja <em>leon</em> jest pierwszym większym projektem, który warto przytoczyć w ramach ciekawostki. 
    Włożyłem w wytwarzanie aplikacji ogrom pracy, jednak końcowy kształt aplikacji nie oddaje moich obecnych umiejętności oraz przyzwyczajeń. 
    Szczególnie porównując jakość kodu między aplikacją <em>leon</em> a <em>illchess</em> gdzie można zauważyć znaczną poprawę.
</p>

<p>
    Linki:<br>
    <li style="text-indent: 15px;">
        <a target="_blank" href="https://github.com/shane3102/leon">Kod źródłowy</a>
    </li>
    <li style="text-indent: 15px;">
        <a target="_blank" href="https://leon.shane3102.pl/#/">Link do aplikacji</a> 
    </li>
    <li style="text-indent: 15px;">
        <a target="_blank" href="https://1drv.ms/w/c/949d02daf155b598/EZi1VfHaAp0ggJRlPgAAAAABo0WrTtognRQzs6EWqw889w?e=6p1xKG">Praca inżynierska</a>
    </li>
</p>