<div class="project-content"
    (mouseover)="hover=true" (mouseleave)="hover=false"
    [ngStyle]="this.hover ? this.projectTitle ? {
        'box-shadow': '0 0 1vw '+getColorDefinition()+'  inset, 0 0 1vw '+getColorDefinition()     
    } : {} : {}">
    <app-technologies [technologies]="[
            'Angular', 
            'Typescript',
            'Java',
            'Kotlin',
            'Spring',
            'Quarkus',
            'MySql',
            'Redis',
            'RabbitMQ',
            'PostgreSQL'
            ]"
            ></app-technologies>
</div>
