@use '../../../../styles';

$project-layout-width-default: 35vw;
$project-layout-width-min: 240px;
$project-layout-width-max: 600px;
$project-layout-width: clamp($project-layout-width-min, $project-layout-width-default, $project-layout-width-max);

$project-layout-height-default: 70dvh;
$project-layout-height-min: 350px;
$project-layout-height-max: 650px;
$project-layout-height: clamp($project-layout-height-min, $project-layout-height-default, $project-layout-height-max);

.project-content {
    width: $project-layout-width;
    border-radius: calc($project-layout-width / 16);
    height: $project-layout-height;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: box-shadow 250ms ease-out;
    box-shadow: 0 0 1vw dimgray inset;
    overflow: hidden;
}

.title {
    font-size: max(2vw, 2em);
    min-height: calc($project-layout-height * 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-description {
    width: 85%;
    min-height: calc($project-layout-height * 0.2);
    overflow: auto;
    text-align: justify;
    font-size: calc($project-layout-width * 0.035);
}

.links {
    min-height: 40%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: styles.$background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: styles.$color;
    border-radius: 5px;
}