@use '../../../../styles';

.content {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}