<div class="content">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div class="vertical-line"></div>
        <div class="title">Projekty</div>
        <div class="vertical-line"></div>
    </div>
    <div class="projects">
        <app-project-layout projectTitle="illchess"></app-project-layout>
        <app-project-layout projectTitle="leon"></app-project-layout>
        <app-project-layout projectTitle="inbox-outbox"></app-project-layout>
    </div>
</div>