.navigation-button {
    user-select: none;
    background-color: gray;
    transition: background-color 100ms ease-out, height 250ms ease-out, font-size 250ms ease-out, border-radius 250ms ease-out;
    -webkit-transition: background-color 100ms ease-out, height 250ms ease-out, font-size 250ms ease-out, border-radius 250ms ease-out;
    -ms-transition: background-color 100ms ease-out, height 250ms ease-out, font-size 250ms ease-out, border-radius 250ms ease-out;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    font-size: 0.75em;
    box-shadow: 0 0 0.25vw gray;
    border-radius: 5vh;
}

.navigation-button:not(:hover) {
    background-color: gray !important;
}

.navigation-button:hover {
    height: 13vh;
    font-size: 1em;
    border-radius: 1vh;
}