.navigation-button {
    user-select: none;
    background-color: gray;
    transition: background-color 100ms ease-out, height 250ms ease-out;
    -webkit-transition: background-color 100ms ease-out, height 250ms ease-out;
    -ms-transition: background-color 100ms ease-out, height 250ms ease-out;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
}

.navigation-button:not(:hover) {
    background-color: gray !important;
}

.navigation-button:hover {
    height: 15vh;
}