@use '../../../../../styles';
@use '../timeline-period-shared-style.scss' as shared-style;

.whole {
    position: relative;
    display: flex;
    justify-content: center;
    height: shared-style.$total-height;
    min-width: none;
}

.first {
    border-left: 1px solid styles.$color;
    border-top: 1px solid styles.$color;
    align-self: flex-end;
    height: shared-style.$height;
    border-radius: shared-style.$height 0 0 0;
}

.second {
    border-bottom: 1px solid styles.$color;
    border-right: 1px solid styles.$color;
    align-self: flex-start;
    height: shared-style.$height;
    border-radius: 0 0 shared-style.$height 0;
}

.third {
    border-bottom: 1px solid styles.$color;
    border-left: 1px solid styles.$color;
    align-self: flex-start;
    border-radius: 0 0 0 shared-style.$height;
    height: shared-style.$height;
}

.fourth {
    border-top: 1px solid styles.$color;
    border-right: 1px solid styles.$color;
    align-self: flex-end;
    border-radius: 0 shared-style.$height 0 0;
    height: shared-style.$height;
}