@use '../../../../../styles';
@use '../../timeline-shared-style.scss' as shared-style;

.whole {
    position: relative;
    display: flex;
    justify-content: center;
    height: shared-style.$total-height;
    min-width: none;
}

.first {
    border-left: shared-style.$brace-thickness solid styles.$color;
    border-bottom: shared-style.$brace-thickness solid styles.$color;
    align-self: flex-start;
    height: shared-style.$brace-height;
    border-radius: 0 0 0 shared-style.$brace-height;
}

.second {
    border-top: shared-style.$brace-thickness solid styles.$color;
    border-right: shared-style.$brace-thickness solid styles.$color;
    align-self: flex-end;
    height: shared-style.$brace-height;
    border-radius: 0 shared-style.$brace-height 0 0;
}

.third {
    border-top: shared-style.$brace-thickness solid styles.$color;
    border-left: shared-style.$brace-thickness solid styles.$color;
    align-self: flex-end;
    border-radius: shared-style.$brace-height 0 0 0;
    height: shared-style.$brace-height;
}

.fourth {
    border-bottom: shared-style.$brace-thickness solid styles.$color;
    border-right: shared-style.$brace-thickness solid styles.$color;
    align-self: flex-start;
    border-radius: 0 0 shared-style.$brace-height 0;
    height: shared-style.$brace-height;
}