<div class="content" [style.width]="width">
    <div class="image">
        <img [src]="timelinePeriod.logo">
    </div>
    <div class="time-period" [style.font-size]="'min(calc(' + width + ' / 18), 14px'">
        {{timelinePeriod.from | date: 'dd.MM.yyyy'}} 
        - 
        @if(timelinePeriod.to) {
            {{timelinePeriod.to | date: 'dd.MM.yyyy'}}
        } @else {
            Obecnie
        }
    </div>
    @if(timelinePeriod.title) {
        <div class="work-title" [style.font-size]="'min(calc(' + width + ' / 17), 15px'">
            <b>{{timelinePeriod.title}}</b>
        </div>
    }
</div>