@use '../../../styles';

.content {
    width: 90dvw;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.title {
    min-width: 15%;
    font-size: clamp(3vw, 2em, 4vw);
    margin: clamp(3vw, 10px, 4vw) 10px;
}

.vertical-line {
    width: 30%;
    height: 0;
    border: 1px solid styles.$color;
}